
.container{
    background: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
}

.card{
    background: var(--white);
    width: 90vw;
    border-radius: 10px;
}

.card .card-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-info{
    padding: 20px 25px;
}

.card-category{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card-info h1{
    margin-block: 10px;
    font-size: 28px;
}

.card-info p{
    font-size: .95rem;
    line-height: 1.7rem;
}

.card-info span{
    display: flex;
    align-items: center;
    
}

.card-info p, .card-category {
    color: var(--grayish-blue);
}

.card-info span .value{
    color: var(--dark-cyan);
    font-weight: 700;
    font-size: 2rem;
    margin-right: 25px;
}

.card-info span .discount{
    text-decoration: line-through;
    font-size: 15px;
    color: var(--grayish-blue);
    font-weight: 400;
}

.card-info .value-info{
    margin-block: 18px 20px;
}

.card-info button{
    width: 100%;
}
.button{
    background: var(--dark-cyan);
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
}

.button img{
    margin-right: 10px;
    width: 16px !important;
}

.value-info , .card h1{
    font-family: "Fraunces", serif;
}

.img-mobile{
    display: block;
}
.img-desktop{
    display: none;
    
}

@media screen and (min-width: 768px) {
    .card{
        display: flex;
        min-width: min-content ;
        max-width: 800px;
    }

    .img-mobile{
        display: none;

    }
    .img-desktop{
        display: block;
    }

    .card .card-image {
        width: 400px;
        border-radius: 10px 0 0 10px ;

    }

    .card-info h1{
        font-size: 45px;
        margin-block: 30px;
       
    }
    .card-info{
        padding: 40px 60px;
    }
    .card-info p{
        font-size: 1.1rem;
    }

    .card-info span .value{
        font-size: 2.5rem;
        margin-block: 16px;
    }

    .button{
        padding-block: 15px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 25px;
    }
}